@media screen and (max-width: 600px){
    .pad2{
        margin-top: 56px;
        /* margin-left: 500px; */
        background-image: url('../images/forgot1.jpg');
        height: 100vh;
        width: 100%;
        background-size: 400px;
        background-repeat: no-repeat;   
        background-position: top center;
    }
}
@media screen and (min-width: 601px){
    .pad2{
        background-image: url('../images/forgot.jpg');
        height: 100vh;
        width: 100%;
        background-size: cover;
        background-repeat: no-repeat;  
        /* background-position: right center ;   */
    }
}
@media screen and (min-width: 1366px){
    .pad2{
        background-image: url('../images/forgot.jpg');
        height: 100vh;
        width: 100%;
        background-size: 850px;
        background-repeat: no-repeat;  
        background-position: right center ; 

    }
}

@media screen and (max-width: 631px){
    .pad3{
      margin-top: 410px;
      background-color: #000;
      color: #fff;
      border: 2px solid rgb(44, 41, 37);
      border-radius: 15px;
      box-shadow: 0 4px 40px 0 rgb(107, 85, 53), 0 6px 20px 0 rgba(255, 45, 45, 0.19);
      
    }
  }
  
  @media screen and (min-width: 632px){
    .pad3{
      margin-top: 250px;
      background-color: #000;
      color: #fff;
      border: 2px solid rgb(44, 41, 37);
      border-radius: 15px;
      box-shadow: 0 4px 40px 0 rgb(107, 85, 53), 0 6px 20px 0 rgba(255, 45, 45, 0.19);
      max-height: 250px;
    }
  }