.contain {
    position: relative;
    width: 50%;
  }
  
  .image {
    display: block;
    width: 670px;
    height: 662px;
  }
  
  .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #008CBA;
    overflow: hidden;
    width: 0;
    height: 100%;
    transition: .5s ease;
  }
  
  .contain:hover .overlay {
    width: 100%;
  }
  
  .text {
    white-space: nowrap; 
    color: white;
    font-size: 20px;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }


  /* second div */

  .contain1 {
    position: relative;
    width: 50%;
  }
  
  .image1 {
    display: block;
    width: 670px;
    height: 662px;
  }
  
  .overlay1 {
    position: absolute;
    bottom: 0;
    left: 100%;
    right: 0;
    background-color: #008CBA;
    overflow: hidden;
    width: 0;
    height: 100%;
    transition: .5s ease;
  }
  
  .contain1:hover .overlay1{
    width: 100%;
    left: 0;
  }
  
  .text1 {
    white-space: nowrap; 
    color: white;
    font-size: 20px;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }