@media screen and (min-width: 632px){
    .mar8{
        /* background-image: url('../images/zoomerskool.png'); */
            /* height: 100vh; */
            min-height: 100vh; 
            max-height: auto;
            width: 100%;
            height:auto;
            background-size: auto cover;
            background-repeat: no-repeat;   
            background-position: top center;
            background-attachment: fixed;
            margin-top: 0px !important;
            padding-top: 10px;
            /* filter: blur(8px);
            -webkit-filter: blur(8px); */
    }


}

@media screen and (max-width:2160px){
    .mar8{
        /* background-image: url('../images/zoomerskool.png'); */
            min-height: 100vh; 
            max-height: auto;
            width: 100%;
             height: auto; 
            
            background-size: cover;
            background-repeat: no-repeat;   
            background-position: top center;
            background-attachment: fixed;
            margin-top: 0px !important; 
            padding-top: 10px;    
    }

    .mar10{
        margin-top: 300px;
        padding-top: 200px;
    }
}

.mar9{
    background-color: rgba(240, 248, 255, 0.699);
}